---
// src/pages/404.astro
import BaseLayout from "../layouts/Layout.astro";
---

<BaseLayout title="Page Not Found">
    <div class="px-4">
        <h1 class="text-4xl font-bold mb-4 text-gray-800 dark:text-gray-200">
            404 - Page Not Found
        </h1>

        <a href="/blog"><p class="underline">&larr; Return to Homepage</p> </a>
    </div>
</BaseLayout>
