---
import Calendar from "../components/icons/Calendar.astro";
import Prose from "../components/Prose.astro";
import BaseLayout from "../layouts/Layout.astro";
import { getCollection, render } from "astro:content";

// 1. Generate a new path for every collection entry
export async function getStaticPaths() {
  const posts = await getCollection("blog");
  return posts.map(post => ({
    params: { id: post.id },
    props: { post }
  }));
}

// 2. For your template, you can get the entry directly from the prop
const { post } = Astro.props;
const { Content } = await render(post);
---

<BaseLayout title={post.data.title}>
  <article class="mx-auto px-6">
    <header class="mb-8">
      <h1 class="text-4xl font-bold mb-4 text-gray-700 dark:text-gray-200">
        {post.data.title}
      </h1>
      <div class="flex flex-col gap-2 text-sm text-gray-500 dark:text-gray-400">
        <time class="flex items-center gap-1">
          <Calendar />
          {
            post.data.date.toLocaleDateString("en-US", {
              month: "short",
              day: "numeric",
              year: "numeric"
            })
          }
        </time>

        <div class="flex gap-2 flex-wrap">
          {post.data.tags.map(tag => <span class="bg-gray-200 dark:bg-gray-200 dark:text-gray-900 px-2 py-1 rounded">#{tag}</span>)}
        </div>
      </div>
    </header>

    <Prose>
      <Content />
    </Prose>

    <footer class="mt-12 pt-8 border-t border-gray-200 dark:border-gray-700">
      <a href="/" class="text-gray-600 dark:text-gray-400 hover:underline"> &larr; Back to Posts </a>
    </footer>
  </article>
</BaseLayout>
