---
import BaseLayout from "../layouts/Layout.astro";
import Calendar from "../components/icons/Calendar.astro";
import Prose from "../components/Prose.astro";

import { getCollection, render } from "astro:content";
import Back from "../components/Back.astro";

// 1. Generate a new path for every collection entry
export async function getStaticPaths() {
  const posts = await getCollection("blog");
  return posts.map((post) => ({
    params: { id: post.id },
    props: { post },
  }));
}

// 2. For your template, you can get the entry directly from the prop
const { post } = Astro.props;
const { Content } = await render(post);
---

<BaseLayout title={post.data.title + " | 陈刑's Tech Guides"}>
  <article class="mx-auto p-6 max-w-4xl">
    <header class="mb-8">
      <h1 class="text-4xl font-bold mb-4 pb-3">
        {post.data.title}
      </h1>
      <div class="flex flex-col gap-3 text-sm">
        <time
          class="flex items-center gap-2 p-2 bg-gray-100 border-2 border-black"
        >
          <Calendar />
          {
            post.data.date.toLocaleDateString("en-US", {
              month: "short",
              day: "numeric",
              year: "numeric",
            })
          }
        </time>
        <div class="flex gap-2 flex-wrap">
          {
            post.data.tags.map((tag: string) => (
              <span class="border-2 border-black bg-white px-3 py-1 shadow-neo">
                #{tag}
              </span>
            ))
          }
        </div>
      </div>
    </header>

    <Prose>
      <Content />
    </Prose>

    <Back />
  </article>
</BaseLayout>
