---
import Back from "../components/Back.astro";
import BaseLayout from "../layouts/Layout.astro";
---

<BaseLayout title="Why Arch Linux?">
  <main class="container mx-auto px-4 py-8 max-w-5xl">
    <article class="flex items-center justify-center" style="min-height: 85vh">
      <p class="text-3xl font-bold">I USE ARCH, BTW</p>
    </article>

    <Back />
  </main>
</BaseLayout>
