<div class="mt-6 md:mt-8 text-center flex py-4 md:py-6">
  <a href="/" class="border-3 border-black px-4 py-2 bg-[#ffd166] inline-block shadow-neo hover:shadow-none hover:translate-y-0.5 transition-all font-bold"> ← Back to Home </a>
</div>
