---
type Props = {
  class?: string; // allow passing `class` to the component
};

const { class: className = "", ...attrs } = Astro.props as Props;
---

<div class={`mx-1 my-6 ${className}`} {...attrs}>
  <a
    href="/"
    class="border-3 border-black px-4 py-2 bg-secondary inline-block
    shadow-neo hover:shadow-none hover:translate-y-0.5 transition-all font-bold"
  >
    ← Back to Home
  </a>
</div>
