---
import GithubIcon from "./GithubIcon.astro";
---

<header class="p-6 border-b-3 border-black bg-white">
  <nav class="flex justify-between items-center gap-4">
    <a href="/" class="text-xl md:text-3xl font-bold border-3 border-black px-3 md:px-4 py-1.5 bg-[#ff6b6b] text-white shadow-neo hover:shadow-none transition-all hover:translate-y-0.5">陈刑's TECH GUIDES</a>
    <GithubIcon repoUrl="https://github.com/chenxing-dev/blog" />
  </nav>
</header>
