---
import GithubIcon from "./GithubIcon.astro";
---

<header class="p-6 border-b-3 border-black bg-white">
  <nav class="flex justify-between items-center">
    <a href="/" class="text-3xl font-bold border-3 border-black px-4 py-2 bg-[#ff6b6b] text-white shadow-neo hover:shadow-none">陈刑's TECH GUIDES</a>
    <GithubIcon repoUrl="https://github.com/chenxing-dev/blog" />
  </nav>
</header>
