---
import GithubIcon from "./GithubIcon.astro";
---

<header class="p-6 border-b-3 border-black bg-white">
  <nav class="flex items-center gap-4 flex-wrap">
    <div class="w-full flex flex-wrap justify-between gap-2 items-center">
      <a
        href="/"
        class="block bg-primary text-xl md:text-3xl text-white font-bold
        border-3 border-black
        px-3 md:px-4 py-1.5 shrink-0
        shadow-neo hover:shadow-none transition-all hover:translate-y-0.5"
        >陈刑's TECH GUIDES</a
      >
      <GithubIcon repoUrl="https://github.com/chenxing-dev/blog" />
    </div>
    <div class="flex gap-2 items-end">
      <div class="text-sm md:text-base italic text-gray-600 flex gap-2">
        <a
          href="/linux-guides"
          class="bg-secondary text-black font-bold
          border-3 border-black
          px-3 py-1.5 h-full
          shadow-neo hover:shadow-none transition-all hover:translate-y-0.5"
        >
          Linux Guides
        </a>
        <a
          href="/web-dev"
          class="bg-cyan text-black font-bold
          border-3 border-black
          px-3 py-1.5 h-full
          shadow-neo hover:shadow-none transition-all hover:translate-y-0.5"
        >
          Web Dev Guides
        </a>
      </div>
    </div>
  </nav>
</header>
