---

---

<div
  class="px-4 md:px-6
  prose prose-base md:prose-lg max-w-none
  prose-headings:text-gray-800 prose-headings:m-0
  prose-h1:text-3xl prose-h1:border-b-3 prose-h1:border-black prose-h1:pb-3 prose-h1:mb-6 prose-h1:before:content-['#_']
  prose-h2:text-2xl prose-h2:mt-4 prose-h2:before:content-['##_']
  prose-h2:nth-of-type-[3n+1]:text-red prose-h2:nth-of-type-[3n+2]:text-primary prose-h2:nth-of-type-[3n]:text-teal
  prose-h3:text-xl prose-h3:mt-4 prose-h3:before:content-['###_']
  prose-h4:text-lg prose-h4:mt-4 prose-h4:mb-2 prose-h4:before:content-['####_']
  prose-p:text-justify prose-p:mt-3 prose-p:mb-0
  prose-a:text-blue-700 prose-a:font-bold prose-a:no-underline prose-a:border-b-2 prose-a:border-blue-700 prose-a:transition-all
  prose-a:hover:bg-blue-700 prose-a:hover:text-white
  prose-blockquote:pl-4 prose-blockquote:py-1 prose-blockquote:bg-gray-100 prose-blockquote:shadow-neo
  prose-ul:pl-4 prose-ul:my-0 prose-ul:list-disc 
  prose-ol:my-0
  prose-li:marker:text-black prose-li:my-1
  prose-img:border-3 prose-img:border-black prose-img:shadow-neo prose-img:my-6
  prose-pre:bg-background prose-pre:border-3 prose-pre:border-black prose-pre:shadow-neo 
  prose-pre:rounded-none prose-pre:overflow-x-auto prose-pre:mt-4
  prose-pre:text-xs md:prose-pre:text-base
  prose-table:border-3 prose-table:border-black
  prose-th:bg-gray-200 prose-th:border-b-2 prose-th:border-black prose-th:p-3
  prose-td:border-b-2 prose-td:border-gray-200 prose-td:p-3
  prose-figcaption:text-center prose-figcaption:italic
  prose-hr:border-t-3 prose-hr:border-black prose-hr:my-8"
>
  <slot />
</div>
