---

---

<div
  class=" 
  prose dark:prose-invert
  prose-headings:text-gray-800 dark:prose-headings:text-gray-200
  prose-h1:font-bold prose-h1:text-xl
  prose-a:text-stone-600 dark:prose-a:text-stone-400 prose-a:hover:text-stone-400 dark:prose-a:hover:text-stone-300
  prose-p:text-justify 
  prose-img:rounded-xl
  prose-code:before:content-none prose-code:after:content-none"
>
  <slot />
</div>
