---

---

<div class="prose
  prose-headings:text-gray-800
  prose-a:text-stone-600 prose-a:hover:text-stone-400
  prose-p:text-justify
  prose-img:rounded-xl
  prose-code:before:content-none prose-code:after:content-none
  max-w-none">
  <slot />
</div>
