---
// Navigation controls for the carousel

export interface Props {
    prev: number;
    next: number;
}
const { prev, next } = Astro.props as Props;
---

<div
    class="absolute flex justify-between px-2 md:px-4 top-1/2 left-0 right-0 -translate-y-1/2"
>
    <a
        href={`#slide-${prev}`}
        class="border-3 border-black bg-white px-3 py-1
        font-bold shadow-neo hover:shadow-none hover:translate-y-0.5 transition-all"
        >L</a
    >
    <a
        href={`#slide-${next}`}
        class="border-3 border-black bg-white px-3 py-1
        font-bold shadow-neo hover:shadow-none hover:translate-y-0.5 transition-all"
        >R</a
    >
</div>
