---
import Favicon from "../components/Favicon.astro";
import "../styles/global.css";

// Frontmatter
interface Props {
  title: string;
}
const { title } = Astro.props;
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>{title}</title>
    <Favicon appName={title} />
  </head>
  <body class="bg-background text-neutral-900 p-4 min-h-screen">
    <main
      class="border-3 border-slate-950 max-w-6xl mx-auto bg-white shadow-neo"
    >
      <slot />
    </main>
  </body>
</html>
